{% extends 'lanunion/base.html' %}

{% block body_block %}

    <h1>User profile:</h1>
    <li>id = {{ user.username }}</li>
    <li>email = {{ user.email }}</li>
    <li>data joined = {{ user.date_joined }}</li>
    <li>name = {{ profile.name }}</li>
    <li>address = {{ profile.address }}</li>
    <li>score = {{ profile.score }}</li>

    <h1>Update profile:</h1>

    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit">Save changes</button>
    </form>

{% endblock %}